@import './variable.less';

.mj-vux-box .vux-slider>.vux-indicator>a>.vux-icon-dot,
.mj-vux-box .vux-slider .vux-indicator-right>a>.vux-icon-dot {
  display: inline-block;
  vertical-align: middle;
  width: .12rem;
  height: .12rem;
  border-radius: .06rem;
  background-color: #fff;
  transition: all ease .3s;
}

.mj-vux-box .vux-slider>.vux-indicator>a>.vux-icon-dot.active,
.mj-vux-box .vux-slider .vux-indicator-right>a>.vux-icon-dot.active {
  background-color: @main-color;
  width: .32rem;
}

.v-transfer-dom {
  position: relative;
  z-index: 999999;
}

.vux-swiper .vux-img {
  border-radius: .08rem;
  overflow: hidden;
}

.input-box .vux-label-desc {
  font-size: .32rem !important;
  color: #1b1b1f !important;
}

.input-box .vux-cell-primary.vux-popup-picker-select-box {
  display: none;
}

.weui-switch:checked, .weui-switch-cp__input:checked ~ .weui-switch-cp__box {
    border-color: @main-color !important;
    background-color: @main-color !important;
}
